body {
  background-color: black;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

h2 {
  color: white;
  text-align: left;
  font-style: italic;
  font-weight: 600;
  letter-spacing: 1px;
}
.navbar-brand {
  font-style: italic;
}

/* Footer */

/* Glass buttons */
button {
  display: inline-block;
  padding: 24px 32px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(30px);
  color: rgba(255, 255, 255, 0.8);
  font-size: 1em;
  letter-spacing: 2px;
  cursor: pointer;
}

/* Team colors Start*/
.col {
  /* outline-style: solid; */
  border-style: solid;
  border-top-right-radius: 5em;
  border-bottom: none;
  border-left: none;
}

.redbull {
  border-color: #3671c6;
}

.redbull-btn:hover {
  background-color: #3671c6;
}

.ferrari {
  border-color: #f91536;
}
.ferrari-btn:hover {
  background-color: #f91536;
}

.mercedes {
  border-color: #6cd3bf;
}
.mercedes-btn:hover {
  background-color: #6cd3bf;
}

.alpine {
  border-color: #2293d1;
}
.alpine-btn:hover {
  background-color: #2293d1;
}

.mclaren {
  border-color: #f58020;
}
.mclaren-btn:hover {
  background-color: #f58020;
}

.alfa-romeo {
  border-color: #c92d4b;
}

.alfa-romeo-btn:hover {
  background-color: #c92d4b;
}

.aston-martin {
  border-color: #358c75;
}
.aston-martin-btn:hover {
  background-color: #358c75;
}

.haas {
  border-color: #b6babd;
}
.haas-btn:hover {
  background-color: #b6babd;
}

.alphatauri {
  border-color: #5e8faa;
}
.alphatauri-btn:hover {
  background-color: #5e8faa;
}

.williams {
  border-color: #37bedd;
}
.williams-btn:hover {
  background-color: #37bedd;
  animation-duration: 2s;
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 7px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: hsl(168, 54%, 20%);
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: hsl(168, 54%, 50%);
}
